.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

body {
  background-color: #221f1f;
  color: #fff;
}

/* CSS instruction for the Nav */

#NavLogo {
  width: 50px;
  height: 30px;
  margin-left: 1em;
}

.navContainer {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.NavbarLink {
  font-size: 0.8em;
  white-space: nowrap;
  font-weight: 700;
}

.NavbarIcon {
  color: #fff;

  margin-left: 0.8em;
  cursor: pointer;
}

#NavbarKids {
  font-size: 0.9em;
  color: #fff;
  margin-left: 0.8em;
}

@media screen and (min-width: 576px) {
  #NavLogo {
    width: 70px;
    height: 40px;
  }

  .navContainer {
    justify-content: flex-start;
  }
}

/* CSS instruction for the upperMainComponent */
.upperMainComponent {
  display: flex;
  align-items: center;
  justify-content: space-around;
}

.upperMainComponent > h2 {
  font-size: 1.2em;
}

.selectContainer {
  width: 40%;
}

.formSelect {
  padding: 0 5px;
  width: 4em;
  background-color: #221f1f;
  color: #fff;
  border-color: #838383;
}

@media screen and (min-width: 400px) {
  .formSelect {
    width: auto;
    padding: 0 10px;
  }
}

.formSelect option {
  font-size: 0.8em;
}

.upperIcon {
  font-size: 1.2em;
  cursor: pointer;
}

@media screen and (min-width: 992px) {
  .formSelect option {
    font-size: 1em;
  }

  .upperIcon {
    font-size: 1.5em;
  }
}

@media screen and (min-width: 576px) {
  .upperMainComponent {
    justify-content: flex-start;
  }

  .upperMainComponent > h2 {
    font-size: 1.6em;
  }
}

@media screen and (min-width: 768px) {
  .upperMainComponent > h2 {
    font-size: 2em;
  }
}

/* CSS instructions for the posters into the main */
.rowComponent {
  position: relative;
}

.myCard {
  width: 90%;
  max-width: 300px;
  height: 145px;
  border: none;
  border-radius: 0;
  position: relative;
}

.spinnerContainer {
  position: absolute;
  top: 33%;
  bottom: 33%;
  left: 33%;
  right: 33%;
}

.rowPoster {
  aspect-ratio: 1 / 1;
  height: 100%;
  border: none;
  transition: 0.2s;
  z-index: 3;
}

.rowPoster:hover {
  transform: scale(1.1);
  z-index: 1;
  transition: 0.2s;
}

@media screen and (min-width: 576px) {
  .myCard {
    height: 140px;
  }
}

@media screen and (min-width: 768px) {
  .myCard {
    max-width: 350px;
    height: 175px;
  }
}

@media screen and (min-width: 992px) {
  .myCard {
    width: 100%;
    max-width: none;
    height: 150px;
  }
}

@media screen and (min-width: 1200px) {
  .myCard {
    height: 115px;
  }
}

@media screen and (min-width: 1400px) {
  .myCard {
    height: 130px;
  }
}

@media screen and (min-width: 1600px) {
  .myCard {
    height: 150px;
  }
}

/* CSS instructions for the footer component */

.footerListItem {
  border: none;
  font-size: 0.8em;
  padding: 0;
  margin: 0.3em 0;
  background-color: inherit;
}

.footerListItem a {
  color: #838383;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.footerButton {
  font-size: 0.8em;
  margin-top: 0.7em;
  border-radius: 0;
  border: 1px solid #838383;
  color: #838383;
}

.footerButton:hover {
  background-color: #838383;
}

.footerCopyright {
  font-size: 0.6em;
  margin-bottom: 2em;
  color: #838383;
}

/* CSS instructions for modal */

.modal-dialog {
  border: 1px solid #7c0f12;
  border-radius: 10px;
}

.modalContainer {
  background-color: #181818;
  border-color: #7c0f12;
}

/* instruction for the header of the modal */
.modalHead {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.modalHead h4 {
  width: 60%;
  font-size: 0.8em;
  color: #999999;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.modalHead ul {
  width: 40%;
  font-size: 0.4em;
  color: #999999;
}

/* instruction for the body of the modal */

.modalBody .imgModalContainer {
  width: 25%;
}

.imgModalContainer img {
  max-width: 100%;
}

.textModalContainer {
  width: 75%;
  color: #999999;
}

.textModalContainer ul {
  list-style-type: none;
}

.textModalContainer h5 {
  font-size: 0.8em;
}

.textModalContainer p {
  font-size: 0.7em;
}

/* instructions for the footer of the modal */

.modalContainer button {
  width: 50%;
  background-color: #282c34;
  color: #999999;
}

.modalButton {
  position: absolute;
  bottom: 15px;
  left: 33.3%;
  right: 33.3%;
  font-size: 0.6em;
  z-index: 2;
}

.modalButton:hover {
  z-index: 4;
}
