.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

body {
  background-color: #221f1f;
  color: #fff;
}

/* CSS instruction for the Nav */

#NavLogo {
  width: 100px;
  height: 40px;
  margin-left: 1em;
}

.NavbarLink {
  font-size: 0.8em;
  white-space: nowrap;
  font-weight: 700;
}

.NavbarIcon {
  color: #fff;
  font-size: 1.3em;
  margin-left: 0.8em;
  cursor: pointer;
}

#NavbarKids {
  font-size: 0.9em;
  color: #fff;
  margin-left: 0.8em;
}

/* CSS instruction for the upperMainComponent */
.formSelect {
  background-color: #221f1f;
  color: #fff;
  border-color: #838383;
}

.upperIcon {
  font-size: 1.4em;
  cursor: pointer;
}

/* CSS instructions for the posters into the main */
.rowComponent {
  position: relative;
}

.spinnerContainer {
  position: absolute;
  top: 33%;
  bottom: 33%;
  left: 33%;
  right: 33%;
}

.rowPoster {
  aspect-ratio: 1 / 1;
  height: 100%;
  transition: 0.2s;
}

.rowPoster:hover {
  transform: scale(1.1);
  transition: 0.2s;
}

.myCard {
  height: 140px;
  border: none;
  border-radius: 0;
}

/* CSS instructions for the footer component */

/* .footer {
  position: absolute;
  bottom: 0;
} */

.footerListItem {
  border: none;
  font-size: 0.8em;
  padding: 0;
  margin: 0.3em 0;
  background-color: inherit;
}

.footerListItem a {
  color: #838383;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.footerButton {
  font-size: 0.8em;
  margin-top: 0.7em;
  border-radius: 0;
  border: 1px solid #838383;
  color: #838383;
}

.footerButton:hover {
  background-color: #838383;
}

.footerCopyright {
  font-size: 0.6em;
  color: #838383;
}
